.backgroundImg {
  background-image: url(../../assets/images/backgroundimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.landingJumbo {
  width: 60%;
  background-color: rgba(204, 204, 204, 0.6) !important;
}

.cardBackground {
  background-color: rgb(231, 248, 255) !important;
}

.jumboText {
  color: black !important;
}

.companyName {
  font-size: 5vw;
}

.companySlogan {
  font-size: 3vw;
}
