.footer {
  min-height: 100px;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background-color: rgb(169, 233, 201);
}

.foot {
  color: black;
}
